.cardsContainer, .cardsContainerInverse{
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.cardsContainerInverse{
    flex-direction: row-reverse;
}

.bigImage{
    width: 50vw;
    display:flex;
    position: relative;
    justify-content: center;
    /* flex-shrink: calc(1); */
}

.details{
    background-color: #f0f0f0;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigImage img{
    width: inherit;
}

.details p{
    padding-bottom: 3rem;
    color: #a3a3a3;
}

.details button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    color: #a3a3a3;
}

.bigImage button{
    position: absolute;
    border: 2px solid white;
    background-color: transparent;
    color: #f1f1f1;
    width: 8rem;
    height: 3.5rem;
    cursor: pointer;
    align-self: center;
    text-transform: uppercase;
}